html {
    height: 100%;
    overflow: hidden;
    margin: 0 0;
  }

body {
    font-family: 'Rubik', sans-serif;
    background-color: #fcfcfc;
    height: 100%;
    overflow: auto;
    margin: 0 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-section {
    top: 100px;
    width: 100%;
}

.hero {
    font-family: 'Cormorant';
    display: flex;
    flex-direction: column;
}

#he-1 {
    text-indent: 5%;
}

#he-2 {
    text-indent: 25%;
}

#he-3 {
    text-indent: 60%;
}

#he-4 {
    text-indent: 50%;
}

#he-5 {
    text-indent: 30%;
}

#he-6 {
    text-indent: 20%;
}

.work {
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    flex-direction: row;
}

.box {
    width: 50%;
    height: 400px;
}

.img-4 {
    background-image: './images/quiz-app.png';
}

.img-3 {
    background-image: './images/small-council.png';
}

.img-2 {
    background-image: './images/word-cloud.png';
}

.img-1 {
    background-color: 
}

.desc {
    background-color: #e2eff1;
}

#foot {
    height: 100px;
    background-color: red;
}

::-webkit-scrollbar {
    display: none;
  }
  